CODEWMBENCH_PROJECT_NAME=codewmbench-watermark
CODEWMBENCH_ARTIFACT_MODE=anonymous
CODEWMBENCH_DATA_DIR=data
CODEWMBENCH_RESULTS_DIR=results
CODEWMBENCH_CACHE_DIR=model_cache
CODEWMBENCH_SEED=2026
CODEWMBENCH_LOCAL_ONLY=1
CODEWMBENCH_RELEASE_CHECK=1
HF_ACCESS_TOKEN=
HF_ACCESS_TOKEN_FALLBACK=
REMOTE_HOST=
REMOTE_PORT=22
REMOTE_USER=
REMOTE_ROOT=
PYTHON_BIN=python3
VENV_DIR=
OPENAI_API_KEY_GPT54=
OPENAI_API_KEY_GPT54_MINI=
ANTHROPIC_API_KEY_SONNET46=
ANTHROPIC_API_KEY_OPUS46=
DEEPSEEK_API_KEY_CHAT=
DEEPSEEK_API_KEY_REASONER=
CUDA_VISIBLE_DEVICES=
